<h1>Registro</h1>
<div>
    <form id="registerForm">
    <label for="first_name">Nombre</label>
    <input type="text" name="first_name" id="first_name" required>
    <label for="last_name">Apellido</label>
    <input type="text" name="last_name" id="last_name" required>
    <label for="age">Edad</label>
    <input type="number" name="age" id="age" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Registrarse">
</form>
</div>
<script src="/js/register.js"></script>