<h1>Cambio de Contrase単a</h1>
  <form method="POST" action="/change-password">
    <label for="newPassword">Nueva Contrase単a:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    
    <label for="confirmPassword">Confirmar Contrase単a:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    
    <input type="hidden" name="token" value="{{token}}">

    <button type="submit">Cambiar Contrase単a</button>
  </form>