<h2>Chat en vivo</h2>
<form id="chatForm">
    <input id="user" type="email" placeholder="email" required>
    <input id="message" type="text" placeholder="Mensaje" required>
    <button type="submit">Enviar</button>
</form>
<ul id="chat"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>